@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gravitas+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mtavari {
    height: 500px;
    width: 700px;
    background-color: gray;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#zeda {
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: grid;
    grid-area: 1/1/1/3;
    align-items: center;
}

#zeda p:nth-child(1) {
    color: green;
    font-size: 25px;
}

#zeda p:nth-child(2) {
    color: aquamarine;
}

#qveda1 {
    background-color: hsl(179, 62%, 43%);
    display: grid;
    grid-area: 2/1/2/2;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
}

#qveda2 {
    background-color: #4ABEBD;
    display: grid;
    grid-area: 2/2/3/3;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 15px;
}

.test {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test1 p:nth-child(1){
    font-size: 30px;
    margin-right: 20px;
}

.test1 p:nth-child(2){
    color: gray;
}

.idk{
    height: 250px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bruh{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.bruh p{
    margin-bottom: 15px;
}

.yehh {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yehh p{
    font-size: 20px;
    color: white;
}

button{
    width: 300px;
    height: 50px;
    background-color: green;
    border-style: none;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
}

.yeah{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yeah1{
    height: 200px;
    width: 250px;
}

.yeah1 p {
    color: white;
    margin-top: 20px;
}