@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gravitas+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mtavari {
    height: 500px;
    width: 700px;
    background-color: gray;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#zeda {
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: grid;
    grid-area: 1/1/1/3;
    align-items: center;
}

#zeda p:nth-child(1) {
    color: green;
    font-size: 25px;
}

#zeda p:nth-child(2) {
    color: aquamarine;
}

#qveda1 {
    background-color: hsl(179, 62%, 43%);
    display: grid;
    grid-area: 2/1/2/2;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
}

#qveda2 {
    background-color: #4ABEBD;
    display: grid;
    grid-area: 2/2/3/3;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 15px;
}

.test {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test1 {
    display: flex;
}