@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Gravitas+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mtavari {
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.art {
    border-radius: 15px;
    width: 350px;
    align-self: center;
}

.pfp {
    width: 40px;
}

.yes {
    margin-top: 15px;
    margin-left: 20px;
}

#okupacia {
    font-size: 18px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 20px;
}

#desc {
    color: gray;
}