h1 {
    color: orange;
}

#forma {
    background-color: gray;
    width: 225px;
    height: 450px;
}

#forma textarea {
    height: 100px;
    width: 225px;
}

#forma input[type="text"] {
    width: 225px;
}

#forma input[type="email"] {
    width: 225px;
}

#forma input[type="number"] {
    width: 225px;
}

#forma button {
    width: 225px;
    background-color: cyan;
    border-style: none;
}