* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.d1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.d1:hover {
    transform: translate(100px);
    transition-duration: 1s;
    transition-delay: 2s;
}

.d2 {
    width: 300px;
    height: 300px;
    background-color: red;
}

.d2:hover {
    transition-timing-function: ease;
    transition-duration: 1s;
    transform: scale(20%);
}

.d3 {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.d3:hover {
    transition-timing-function: ease-in;
    transition-duration: 2s;
    transition-delay: 3s;
    transform: skew(40deg);
}

.d4 {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}

.d4:hover {
    transition-duration: 0.3s;
    transform: rotate(30deg);
}

