* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.yes {
    height: 700px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.names {
    width: 173px;
}

input {
    height: 40px;
    width: 350px;
}

#message {
    height: 100px;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    border-style: none;
}