body {
    background-color: #1B2838;
}

a {
    color:chocolate;
    text-decoration-style:wavy;
    text-decoration-color: aquamarine;
}

a:hover {
    color: red;
    text-decoration: none;
}

button {
    background-color: green;
    color: white;
    border-color: black;
    width: 150px;
}

img {
    border-style: solid;
    border-color: red;
    border-radius: 20%;
}

button:active {
    background-color: aqua;
    color: blue;
}

a:active {
    color: blue;
    text-decoration: overline;
}

button:hover {
    background-color:blueviolet;
    color: crimson;
}

img:hover {
    border-width: 5px;
}

video {
    border-style: double;
    border-color: black;
}

#ordered {
    list-style-type: upper-roman;
    list-style-position: outside;
    color: gray;
    font-size: small;
}