@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather", serif;
}



img {
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
}


button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-top: 15px;
    width: 300px;
    height: 40px;
}

.mtavari {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    height: 570px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.saxeli {
    margin-top: 30px;
    font-weight: 700;
    color: white;
}

p {
    font-size: 14px;
    font-family: "Merriweather", serif;
}

.location {
    margin-top: 10px;
    color: hsl(75, 94%, 57%);
}

.desc {
    margin-top: 20px;
    color: gray
}