div {
    width: 300px;
    height: 300px;
    border-width: 2px;
    border-style: dashed;
    border-color: red;
    padding: 10px;
    background-color: green;
}

p {
    margin: 15px;
}

button {
    margin: 15px;
}