* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.mtavari {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(15, 1fr);
    width: 1250px;
    height: 1250px;
    gap: 10px;
}

.idk {
    background-color: white;
    border-radius: 15px;
}


#pirveli {
    grid-area: 1/1/3/3;
}

#meore {
    grid-area: 3/1/6/5;
}

#me-3 {
    grid-area: 6/1/9/5;
}

#me-4 {
    grid-area: 1/3/3/8;
}





/*
@keyframes animname
animation-name: aq vwerts animnames
animation-duration: seconds
animation-iteration-count: speaks for itself
animation-delay: delays anim
animation-timing-function: ease, ease-in, ease-out, linear
*/