* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-style: solid;
    border-width: 10px;
    border-color: red;
    transition-duration: 1s;
}

img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}