@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    width: 220px;
}


.mtavari {
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.result {
    width: 350px;
    height: 500px;
    border-radius: 25px;
    background-color: hsl(252, 100%, 67%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: hsl(241, 81%, 54%);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.result p:nth-child(1) {
    font-size: 25px;
    color: gray;
    
}

.circle p:nth-child(2) {
    color: gray;
}

.circle p:nth-child(1) {
    font-weight: 800;
    color: white;
    font-size: 60px;
}

.great {
    color: white;
    font-size: 30px;
    margin-top: 25px;
}

.result p:nth-child(4) {
    color: gray;
}


.summary {
    margin-top: 30px;
    margin-left: 30px;
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text {
    width: 100px;
    font-size: 25px;
}

.summary div {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
    height: 60px;
    width: 300px;
    font-weight: 500;
}


.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color:hsla(39, 100%, 56%, 0.1) ;
    color: hsl(39, 100%, 56%);
}

.green {
    background-color:hsla(166, 100%, 37%, 0.1) ;
    color:hsl(166, 100%, 37%) ;
}

.blue {
    background-color:hsla(234, 85%, 45%, 0.1) ;
    color:hsl(234, 85%, 45%) ;
}


button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 300px;
    margin-top: 20px;
    border-style: none;
    font-family:"Oswald", sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: hsl(252, 100%, 67%);
}