* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pirveli {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    animation-name: pirveli;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.meore {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    animation-name: meore;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.mesame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    animation-name: mesame;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.meotxe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    bottom: 200px;
}

@keyframes pirveli {
    25% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(100px);
    }

    75% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(200px);
    }
}

@keyframes meore {
    25% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(100px);
    }

    75% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(200px);
    }
}

@keyframes mesame {
    20% {
        transform: scale(1.3);
    }

    40% {
        transform: translate(40px, 40px) scale(1.1);
    }

    60% {
        transform: translate(0px, 0px) scale(1.3);
    }
}