@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gravitas+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mtavari {
    width: 1500px;
    height: 800px;
    background-color: white;
    display: flex;
}

.content {
    height: 800px;
    width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idk {
    height: 500px;
    width: 500px;
    z-index: 2;
}

.idk p:nth-child(2){
    margin-top: 60px;
    color: pink;
    font-size: 60px;
}

.idk p:nth-child(3) {
    font-size: 60px;
    width: 300px;
    margin-bottom: 20px;
}

.idk p:nth-child(4){
    color: pink;
}

form {
    display: flex;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    z-index: 1;
}

button {
    width: 90px;
    height: 40px;
    background-color: pink;
    border-radius: 15px;
    z-index: 2;
    border-style: none;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    right: 40px;
}

#patern{
    position: absolute;
    z-index: 1;
}

#pic {
    width: 670px;
}